In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from category_encoders import OneHotEncoder


# Load the dataset
url = "../sourcedata/cleaned_data/8_encoded_variables.csv"
df = pd.read_csv(url)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9333 entries, 0 to 9332
Columns: 102 entries, Umsatz to temp_diff_next_day
dtypes: float64(7), int64(95)
memory usage: 7.3 MB

,Umsatz,Wettercode_3.0,Wettercode_4.0,Wettercode_5.0,Wettercode_10.0,Wettercode_12.0,Wettercode_17.0,Wettercode_20.0,Wettercode_21.0,Wettercode_22.0,...,day_month_31,season_2,season_3,season_4,Bewoelkung,Temperatur,Windgeschwindigkeit,Umsatz.1,Niederschlag,temp_diff_next_day
0,148.828353,0,0,0,0,0,0,1,0,0,...,0,1,0,0,6.0,17.8375,15.0,148.828353,0.3,-0.925000
1,535.856285,0,0,0,0,0,0,1,0,0,...,0,1,0,0,6.0,17.8375,15.0,535.856285,0.3,-0.925000
2,201.198426,0,0,0,0,0,0,1,0,0,...,0,1,0,0,6.0,17.8375,15.0,201.198426,0.3,-0.925000
3,65.890169,0,0,0,0,0,0,1,0,0,...,0,1,0,0,6.0,17.8375,15.0,65.890169,0.3,-0.925000
4,317.475875,0,0,0,0,0,0,1,0,0,...,0,1,0,0,6.0,17.8375,15.0,317.475875,0.3,2.312500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9328,335.823557,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0.0,24.5500,6.0,335.823557,0.0,6.655357
9329,123.075682,0,0,0,0,0,0,0,1,0,...,1,1,0,0,5.0,31.2875,11.0,123.075682,0.2,5.733929
9330,586.081666,0,0,0,0,0,0,0,1,0,...,1,1,0,0,5.0,31.2875,11.0,586.081666,0.2,4.812500
9331,285.872616,0,0,0,0,0,0,0,1,0,...,1,1,0,0,5.0,31.2875,11.0,285.872616,0.2,3.850000
9332,57.102795,0,0,0,0,0,0,0,1,0,...,1,1,0,0,5.0,31.2875,11.0,57.102795,0.2,2.887500

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Step 1: Load the dataset (assuming your dataset is already loaded into 'df')
# df = pd.read_pickle('path/to/your_cleaned_encoded_data.pkl')

# Step 2: Define the target column and feature columns
y = df['Umsatz']
X = df.drop(['Umsatz'], axis=1)  # Exclude only the target column

# No need to explicitly identify numerical columns if all features are already processed and ready for modeling

# Step 3: Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Step 4: Create and fit the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Step 5: Make predictions on the test set
predictions = model.predict(X_test)

# Step 6: Evaluate the model
mse = mean_squared_error(y_test, predictions)
print(f"Mean Squared Error: {mse}")
print("Mean Squared Error: {:.30f}".format(mse))  # Adjust the number of decimal places as needed

Mean Squared Error: 1.4621929054835765e-26
Mean Squared Error: 0.000000000000000000000000014622