In [1]:
# import packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# load data

df = pd.read_csv("/workspaces/bakery_sales_prediction/sourcedata/cleaned_data/6.5_date_variables.csv")
print(df.head(), "\n")

        Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  \
0  2013-07-01         6.0     17.8375                 15.0        20.0
1  2013-07-01         6.0     17.8375                 15.0        20.0
2  2013-07-01         6.0     17.8375                 15.0        20.0
3  2013-07-01         6.0     17.8375                 15.0        20.0
4  2013-07-01         6.0     17.8375                 15.0        20.0

   KielerWoche  Warengruppe      Umsatz  Feiertage  Ferientage  ...  \
0          0.0          1.0  148.828353        0.0         1.0  ...
1          0.0          2.0  535.856285        0.0         1.0  ...
2          0.0          3.0  201.198426        0.0         1.0  ...
3          0.0          4.0   65.890169        0.0         1.0  ...
4          0.0          5.0  317.475875        0.0         1.0  ...

   temp_diff_next_day  warmer_than_week_before  colder_than_week_before  year  \
0             -0.9250                   0.0000                    0.925  2013
1             -0.9250                   0.0000                    0.925  2013
2             -0.9250                   0.0000                    0.925  2013
3             -0.9250                   0.0000                    0.925  2013
4              2.3125                   2.3125                    0.000  2013

   month  week  weekday  day_month  season_str  season
0      7    27        0          1      summer       2
1      7    27        0          1      summer       2
2      7    27        0          1      summer       2
3      7    27        0          1      summer       2
4      7    27        0          1      summer       2

[5 rows x 28 columns]

In [6]:
# Drop the columns that we do not want as model input:
columns_to_drop = ['week', 'season_str', 'temp_7d_avg', 'warmer_than_week_before', 'colder_than_week_before']
cleaned_df = df.drop(columns=columns_to_drop)
print(cleaned_df.head())
cleaned_df

        Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  \
0  2013-07-01         6.0     17.8375                 15.0        20.0
1  2013-07-01         6.0     17.8375                 15.0        20.0
2  2013-07-01         6.0     17.8375                 15.0        20.0
3  2013-07-01         6.0     17.8375                 15.0        20.0
4  2013-07-01         6.0     17.8375                 15.0        20.0

   KielerWoche  Warengruppe      Umsatz  Feiertage  Ferientage  ...  \
0          0.0          1.0  148.828353        0.0         1.0  ...
1          0.0          2.0  535.856285        0.0         1.0  ...
2          0.0          3.0  201.198426        0.0         1.0  ...
3          0.0          4.0   65.890169        0.0         1.0  ...
4          0.0          5.0  317.475875        0.0         1.0  ...

   imp_mask_Windgeschwindigkeit  imp_mask_Niederschlag  imp_mask_Wettercode  \
0                             0                      0                    0
1                             0                      0                    0
2                             0                      0                    0
3                             0                      0                    0
4                             0                      0                    0

   Wetterklasse  temp_diff_next_day  year  month  weekday  day_month  season
0             6             -0.9250  2013      7        0          1       2
1             6             -0.9250  2013      7        0          1       2
2             6             -0.9250  2013      7        0          1       2
3             6             -0.9250  2013      7        0          1       2
4             6              2.3125  2013      7        0          1       2

[5 rows x 23 columns]

,Datum,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Warengruppe,Umsatz,Feiertage,Ferientage,...,imp_mask_Windgeschwindigkeit,imp_mask_Niederschlag,imp_mask_Wettercode,Wetterklasse,temp_diff_next_day,year,month,weekday,day_month,season
0,2013-07-01,6.0,17.8375,15.0,20.0,0.0,1.0,148.828353,0.0,1.0,...,0,0,0,6,-0.925000,2013,7,0,1,2
1,2013-07-01,6.0,17.8375,15.0,20.0,0.0,2.0,535.856285,0.0,1.0,...,0,0,0,6,-0.925000,2013,7,0,1,2
2,2013-07-01,6.0,17.8375,15.0,20.0,0.0,3.0,201.198426,0.0,1.0,...,0,0,0,6,-0.925000,2013,7,0,1,2
3,2013-07-01,6.0,17.8375,15.0,20.0,0.0,4.0,65.890169,0.0,1.0,...,0,0,0,6,-0.925000,2013,7,0,1,2
4,2013-07-01,6.0,17.8375,15.0,20.0,0.0,5.0,317.475875,0.0,1.0,...,0,0,0,6,2.312500,2013,7,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,2018-07-31,5.0,31.2875,11.0,21.0,0.0,1.0,123.075682,0.0,1.0,...,0,0,1,6,5.733929,2018,7,1,31,2
9330,2018-07-31,5.0,31.2875,11.0,21.0,0.0,2.0,586.081666,0.0,1.0,...,0,0,1,6,4.812500,2018,7,1,31,2
9331,2018-07-31,5.0,31.2875,11.0,21.0,0.0,3.0,285.872616,0.0,1.0,...,0,0,1,6,3.850000,2018,7,1,31,2
9332,2018-07-31,5.0,31.2875,11.0,21.0,0.0,4.0,57.102795,0.0,1.0,...,0,0,1,6,2.887500,2018,7,1,31,2
9333,2018-07-31,5.0,31.2875,11.0,21.0,0.0,5.0,261.341313,0.0,1.0,...,0,0,1,6,NaN,2018,7,1,31,2

In [7]:
# Save the updated data to new CSV files
cleaned_df.to_csv('../sourcedata/cleaned_data/7_transformed_variables.csv', sep=',', index=False)